BODY { 
 background-color: #C0EEEE;
 background-position: 170 0;
 background-repeat: no-repeat;
 margin:0 0;
 color: #000000; font-family: verdana, helvetica; font-size: 10px;
}


A { font-family: verdana, helvetica; font-weight: bold; color: #009933; font-size: 10px; text-decoration: none; }
a:link { color: #009933; text-decoration: none;  }
a:vlink { color: #009933 }
a:alink { color: #009933 }
a:hover { color: #009933; text-decoration:underline; }

.pageContainer { border: 0; border-collapse:true; xwidth: 100; } 
.pageCell { border: 0  }
.pageCell_right { border: 0; border-right: 1px #000000 solid; }

TD {
 color: #000000;
 font-family: verdana, helvetica;
 font-size: 10px;
 border-right: 1px #bbb solid;
 border-bottom: 1px #688 solid;
}

.Header { text-align: Center; 
 background-color: #77AAAA; 
 color: #FFFFFF; 
 font-family: verdana, helvetica; font-size: 10px; 
 font-weight: bold; letter-spacing: 0.08em;
}

INPUT {
 font-size: 10px;
 background-color: #fff;
 border-top: 1px #aaa solid;
 border-left: 1px #888 solid;
 border-right: 1px #ddd solid;
 border-bottom: 2px #ccc solid;
 margin:2;
}

TEXTAREA {
 font-size: 12px;
 background-color: #fff;
 border-top: 1px #aaa solid;
 border-left: 1px #888 solid;
 border-right: 1px #ddd solid;
 border-bottom: 2px #ccc solid;
 margin:2;
}


.Footer { 
 text-align: Right; 
 background-color: #dfdfdf; 
 color: #FFFFFF; 
 font-family: verdana, helvetica; 
 font-size: 10px; 
 font-weight: bold; 
 letter-spacing: 0.08em;
}

.Menu { 
 text-align: Center; 
 background-color: #E1E1E1; 
 color: #009933; 
 font-family: verdana, helvetica; 
 font-size: 10px; 
 font-weight: bold; 
 letter-spacing: 0.08em;
}

.Informative { 
 text-align: left;
 background-color: #E1E1E1; 
 color: #009933; 
 font-family: verdana, helvetica; 
 font-size: 10px; 
 font-weight: bold; 
 letter-spacing: 0.08em;
}


.RedMenu { 
 font-weight: bold; font-size: 10px;
 text-align: ; 
 background-color: #FF0000; 
 color: #009933; 
 border-bottom: 1px #688 solid;
}


SELECT { 
 font-size: 10px;
 background-color: #eff2f2;
 margin:2;
}

 
.button { 
 letter-spacing: 0.08em;
 font-weight: bold;
 font-size: 10px;
 text-align: center; 
 background-color: #fea; 
 color: #225; 
 border-bottom: 2px #688 solid;
}


.Box1 { 
 padding: 3px 2px 3px 2px;
 border-collapse: collapse;
 border: 1px #333 solid;
 background-color: #D9EAEA;
}

.Box3 { 
 padding: 3px 2px 3px 2px;
 border-collapse: collapse;
 border: 1px #333 solid;
 background-color: #D9EAEA;
}


.Box2 { 
 padding: 3px 2px 3px 2px; 
 border-collapse: collapse;
 border: 1px #333 solid;
}

.HighlightLink {
 padding-left: 10px;
 white-space: nowrap;
}

.Content {
 padding: 10;
 text-indent: 12pt;
 border: #334 1px solid;
}

IMG.pushpin {
    POSITION: absolute;
    CURSOR: hand;
}
DIV.popup {
    POSITION: absolute;
    BACKGROUND-COLOR: #c8c8c8;
    BORDER-TOP: 1px solid #ffffff;
    BORDER-LEFT: 1px solid #ffffff;
    BORDER-BOTTOM: 1px solid #000000;
    BORDER-RIGHT: 1px solid #000000;
    VISIBILITY: hidden;
}

